body {
  max-width: 1000px;
  margin: 0 auto;
  color: black;
  background-image: linear-gradient(to left, #d8c49b, #36edfa);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Layout */

header,
footer {
  text-align: center;
}

span,
h1 {
  text-align: center;
}
strong {
  font-size: 1.5rem;
}

hr {
  height: 2px;
  color: black;
  background-color: black;
  border: none;
}

table,
li {
  margin: 0 5%;
  padding: 0.5rem;
}

thead {
  font-size: large;
  text-align: center;
}

a {
  display: inline-block;
  padding: 0.5rem;
  text-transform: uppercase;
}

a:hover,
a:focus {
  color: #2200ff;
  cursor: pointer;
}

.right-td {
  position: absolute;
  right: 400px;
}

.title-div {
  font-style: italic;
}

/*CSS FOR  Image  */

.main-div {
  display: flex;
  justify-content: center;
  margin-right: 10rem;
}

img {
  width: 90%;
  height: 100px;
  margin-right: 1rem;
  padding-top: 1rem;
}

/* Css is for contact form  */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
